*{
 padding:0;
 margin:0;
 box-sizing: border-box;
 font-family:Segoe MDL2 Assets;
}
html{
    position:absolute;
    background:url("ben-kolde-bs2Ba7t69mM-unsplash.jpg") fixed no-repeat ;
    background-size: cover;
scroll-behavior:smooth;
}
img{
    width:100%;
    background:100% sticky no-repeat;
}
a{ text-decoration: none;
color:rgb(80, 76, 76);}
li{
    list-style: none;
}
.system_img {
    padding-top: 60px;
    padding-bottom: 0px;
    padding-right:10px;
    width:30px;
}
.banner_section{
    width:100%;
    height:100%;
}
#header{
    width:100%;
    height:2.5rem;
    position:fixed;
    z-index:100;
    background:white;
    color:rgb(65, 62, 62);
}
.logo{
position: absolute;
    left:2%;
    width:20%;
    height:98%;
   /* background: #a81010;*/
}
.logo_des{
    position:relative;
    padding:10px;
    top:0px;


}
.logo_png_img{
    width:38.5%
}
.nav_bar{
    width:50%;
    height:98%;
   /* background: #568652;*/
    position:absolute;
    left:70%;
    top:0%;
}
.nav_bar li{
    float:left;
    margin-top:10px;
    margin-left:10px;
}
.nav_bar li a{
    position:relative;
    padding:10px;
}
.nav_bar li a::before{
    content:"";
    position: absolute;
    top:98%;
    left: 0;
    width:0;
    height: 2px;
    border-bottom: 2px solid #909091;
    transition: all 0.4s linear;  
  }
.nav_bar ul li a:hover::before{
      width:100%;
}
 .a :hover{
background:rgb(235, 235, 235);
}
.b :hover{
    background:rgba(235, 235, 235);
    }
.c :hover{
    background:rgba(235, 235, 235);
    }
.d :hover{
   background:rgba(235, 235, 235);
   }
 .e :hover{
    background:rgba(235, 235, 235);
   }           
#bann_img{
 position:relative;
}
.hii{
    position:absolute;
    z-index:7;
    top:-50rem;
    background:rgba(0, 0, 0,0.0);
    width:100%;
    height:60%;
}
.helo{
    width:100%;
    height:170rem;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.hey{
    margin-bottom:20rem;
}
#user_img{
    width:15%;
    border-radius: 50%;  
}
#poo{

    font-size:2rem;
    color:#fff;
    font-weight: bolder;
}
#pan{
    color:#000;
    background:rgb(58, 186 ,241);
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:9px;
    
}
#down_img{
  
    padding-top:12rem;
    width:50px;
}

.about{
    position:absolute;
    top:51%;
    width:100%;
    height:300px;
    background:#fff;

}
.about_me_divide{
    width:100%;
    height:80%;
    background:#fff;
    display:flex;
    justify-content: left;
    flex-direction:row;
    flex-wrap: wrap;
}
.me{
    flex:1 1 500px;
    width:50%;
    padding-top:10px;
    padding-right:20px;
    padding-left:10px;
}
.about_me_name{
    padding:10px;
    font-size:2rem;
    font-weight: bold;
}

.about_me_img{
    width:30px;
    padding-top:50px;
}
.contact{
    flex:1 1 500px;
    width:25%;
    height:100%;
}
.contact-sec{
    width:100%;
    height:50%;
    padding:10px;
}
.contact-sec table th{

 padding-right:70px;
 color:rgb(73, 70, 70);
}
.contact-sec table td{
    color:rgb(48, 45, 45);
   }  

   .social_img{
    display:inline-block;
    width:30px;
    margin-left:10px;
    padding:3px;
}
.social_site{
    background:#fff;
}
.social_img:hover{
   filter: invert(50%);
}
   /*section 1-  banner_section closed ------------------------------------------------***************************************************/



.education_div{
    position:relative;
    z-index:3;
    margin-top:64%;
    width:100%;
    height:20rem;
}
.edu_img{
    width:30px;
}
.education_over{
    width:100%;
    height:100%;
    background:#fff;
}
.education_selection{
    width:100%;
    height:100%;
    background:#fff;
    display:flex;
    justify-content:center;
    flex-direction:row;
    text-align:center;
    align-items: center;
    flex-wrap: wrap;
}

.edu1{
    flex:1 1 1 300px;
    width:18%;
    height:70%;
    margin:20px;
   background: rgba(185, 206, 233, 0.7);
    color:rgb(32, 30, 30);
    transform:rotateY(0);
    transition:all 0.5s ease-in-out 0s;
}
.edu1:hover{
    transform:rotateY(-90deg);
}
.edu_img{
    padding-top:30px;
    padding-bottom:10px;
}

.h1_gap{
    padding:20px;
}
.edu1 h4{
color:rgb(255, 255, 255);
}

.edu2 h4{
    color:rgb(44, 43, 43);
    }
.education_selection_overlay{
    position:absolute;
    z-index:3;
    bottom:-28%;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:row;
    text-align:center;
    align-items: center;
    flex-wrap: wrap;
}

.edu2{
    flex:1 1 1 300px;
    width:18%;
    height:70%;
    margin:20px;
    background:rgb(74, 129, 247);
    color:rgb(255, 255, 255);
    transition:rotateY(0);
    transition:all 0.5s ease-in-out 0s;
}
.edu2:hover{
    transform:rotateY(90deg);
}




/*sectoion-2. education sectiion end**************----------------------------------------------------------------*/




.skills_section{
    background:url("scott-graham-5fNmWej4tAA-unsplash.jpg") fixed no-repeat ;
    background-size: cover;
    width:100%;
    height:45rem;


}


.back_img1{
    position:relative;
    top:38rem;
    width:100%;
    height:35rem;
    background:#fff;
}
progress{
    width:70%;
    height:10%;
    margin:5px 0px;
}
.skills_div{
    width:100%;
    height:100%;
    background:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    align-items:center;
}
.progress_div{
 /*   background: aqua;*/
    width:100%;
    height:30%;
    display:flex;
    justify-content:center;
    text-align:center;
    align-items:center;
    padding:10px;
}
.progress_name{
    width:6%;
    height:100%;
}
.progress_name li{
    margin:7px 0px;
}
.progress_bar{
    width:40%;
    height:100%;
}
.other_skills_div{
   /* background: rgb(0, 17, 255);*/
    width:100%;
    height:40%;
    display:flex;
    justify-content:space-evenly;
    text-align:center;
    align-items:center;
    flex-wrap:wrap
}
.left_skills{
    flex:1 1 600px;
    margin-bottom:3rem;
    background:#fff;
}
.right_skills{
    flex:1 1 600px;
    margin-bottom:3rem;
    background: #fff;
}





/*section3-completed ___-skills section*****************************************------------------------------------------*********/






.project_section{
    background:url("lauren-mancke-aOC7TSLb1o8-unsplash.jpg") fixed no-repeat ;
    background-size: cover;
    width:100%;
    height:70rem;  
}

.back_img2{
    position:relative;
    top:60rem;
    width:100%;
    height:32rem;
    background:#fff;
}

.project_div_for_boxes{
    width:100%;
    height:100%;
  /*  background: aquamarine;*/
    display:flex;
    justify-content:left;
    align-items:center;
    flex-wrap:wrap
}
.project_box{
    width:15%;
    margin-bottom:10rem;
    margin-left:20px;
    padding:10px;
    height:auto;
    border:2px doted rgb(68, 61, 61);
    box-shadow:0  1px 3px rgba(80, 76, 76,0.9);
}


/*section4-completed ___-projects section*****************************************------------------------------------------*********/




.copyright{
    background:url("24773.jpg") fixed no-repeat ;
    background-size: cover;
    width:100%;
    height:60rem;  
}

.back_img3{
    position:relative;
    top:60rem;
    width:100%;
    height:2rem;
    background:#fff;
}
#copyright h4{
    color:#000;
    text-align:center;
    padding-top:5px;
}













/*  media query start*********************************************************/

/*for 1300px*/

